<div class="user-content">
	<div class="left-menu div-inline">
		<p style="margin-top: 20px;">功能</p>
		<p class="new-file" data-title="新建模型"></p>
		<br>
		<br>
		<p>其他功能正在赶来的路上！</p>
	</div>
	<div class="right-diagrams div-inline">
		<h5 style="text-align: left; margin-top: 10px; height: 20px;">我的文件</h5>
		<div class="file-list ui horizontal five columns grid">
			<% for (var i = 0; i < user.models.length; i++) { %>
				<div class="column">
					<div class="ui fluid card">
						<div class="ui fluid rounded image">
							<a href="/post/<%= user.models[i]._id %>">
								<img style="background-color: WHITE" class="ui fluid rounded image" src="/img/<%= user.models[i]._id %>.png">
							</a>

						</div>
						<a href="/post/<%= user.models[i]._id %>/remove" class="ui circular floating red label" style="max-width: 20px" onclick="return confirm('确定要删除该模型吗？')"><i class="trash alternate icon" style="margin-left: 1px"></i></a>
						<div class="content"><%= user.models[i].title %></div>
						<div class="content"><%= user.models[i].updatedAtStr%></div>
					</div>
					
					
				</div>
			<% } %>
		</div>
	</div>
</div>


<script type="text/javascript">
	$('.new-file').click(function(){
		var base_url = window.location.pathname;
		console.log(base_url);
		$.ajax({
			url: "/home/create",
			data: {filename: "未命名", filetype: "dfd"},
			type: "POST",
			dataType: "JSON",
			contentType: "application/x-www-form-urlencoded",
			timeout: 2000,
			success:function(response){
				window.location.href=response.url;
			}
		})
	})
	
</script>
